/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle/**
/vendor/tmp/**
/log/*
/tmp/*
/db/*.sqlite3
/config/*.yml
/public/system/*
/public/uploads/**
/coverage/
/spec/tmp/*
/public/assets/**
**.orig
rerun.txt
pickle-email-*.html
.project
*.*~
/.idea/**
Guardfile
/*.org
/Procfile
/config/deploy/
/shared/

.ruby-version
.ruby-gemset
.atom-build.json